<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Car List</title>
    
    <link rel="stylesheet" href="style.css">
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.min.js"></script>
  </head>

  <body>   
    <div class="container">
      <h3>Car List</h3>

      <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Horsepower</th>

            </tr>
          </thead>
          <tbody>
              <% cars.forEach(function(car) { %>
            <tr>
              <td><%= car.name %> </th>
              <td><%= car.hp %></td>

            </tr>
            <% }); %>
          </tbody>
        </table>

    <p><a href="/"> go back</a></p>
  </div>
  </body>

</html>